@model User
@{
    ViewData["Title"] = "Student Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <span class="d-inline rounded-circle">
            @Html.Identicon(Model.Name, 60)
        </span>
        <div class="d-inline-block ml-1">
            <h3> @Model.Name</h3>
        </div>
        @if (Model.IsCR)
        {
            <a class="btn btn-outline-danger float-right"
               asp-action="RemoveCR"
               asp-route-id="@Model.Id">
                Remove CR
            </a>
        }
        else
        {
            <a class="btn btn-outline-primary float-right"
               asp-action="MakeCR"
               asp-route-id="@Model.Id">
                Make CR
            </a>
        }
    </div>
    <div class="card-body">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group col-6">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <input type="submit" value="Update"
                   class="btn btn-outline-primary" />
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h3>Enrolled Courses</h3>
    </div>
    <div class="card-body">
        <table class="table align-items-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model.Courses)
                {
                <tr>
                    <td>
                        @course.Course.CourseName
                    </td>
                    <td>
                        @course.Course.CourseId
                    </td>
                    <td>
                        @course.Course.CourseCredit
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>






