@model Batch
@{
    ViewData["Title"] = "Batch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card p-2">
    <div>
        <h2 class="d-inline-block align-content-center">@Model.Name</h2>
        <a class="btn btn-outline-secondary d-inline" asp-action="Edit" asp-route-id="@Model.Id">
            <i class="fa fa-edit"></i>
        </a>
    </div>
    <hr />
    <h3>Semesters</h3>

    @foreach (var semester in Model.Semesters)
    {
        <a class="nav-link" href="#collapse_@semester.Id" aria-expanded="false"
           data-toggle="collapse">
            <h3>@semester.Name</h3>
            (@semester.StartsOn.ToShortDateString() - @semester.EndsOn.ToShortDateString())
        </a>
        <div id="collapse_@semester.Id" class="pl-4 list-inline collapse sub-menu">
            @await Html.PartialAsync("_Courses", semester.Courses)
        </div>
        @*<div id="collapse_@semester.Id" class="pl-4 list-inline collapse sub-menu">
                <hr class="p-0" />
                <div class="row" id="@semester.Id">
                    @await Component.InvokeAsync("Courses", new { semesterId = semester.Id })
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 p-3">
                    @await Html.PartialAsync("_CreateCourse", new CreateCoursePopupModel(semester.Id, Model.Id))
                </div>
                <hr class="p-0" />
            </div>*@
    }
</div>
<div class="card p-2 mt-5">
    <div class="row">
        <h1 class="col-10">Students</h1>
        <form class="col-2"
              asp-controller="Batch"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#student_table"
              data-ajax-loading="#spinner"
              asp-action="CreateStudents"
              enctype="multipart/form-data">
            <div>
                <input type="hidden" asp-for="Id" />
                <label class="btn">
                    Add Students
                    <input type="file" name="file" hidden
                           onchange="javascript: document.getElementById('submit_button').click();">
                </label>
                <button id="submit_button"
                        hidden
                        class="btn btn-info btn-block my-4" type="submit">
                </button>
            </div>
        </form>
    </div>
    <div class="text-center">
        <div id="spinner" style="display:none" class="spinner-border"></div>
    </div>


    <div id="student_table" style="min-height:50%">
        @await Html.PartialAsync("_Students", Model.ExternalUsers)
    </div>
</div>



@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
}

