@model Batch
@{
    ViewData["Title"] = "Batch";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";

}

<div class="card">
    <div class="card-header">
        <h1 class="d-inline">Semesters</h1>
        <a class="btn d-inline float-right" asp-action="Edit"
           asp-route-id="@Model.Id">
            <i class="fa fa-user-edit mr-1"></i>
            Edit
        </a>
    </div>
    <div class="card-body nav-wrapper m-1">
        <ul class="nav nav-pills nav-fill flex-column flex-md-row"
            id="tabs-icons-text"
            role="tablist">
            @foreach (var semester in Model.Semesters.OrderBy(x => x.StartsOn))
            {
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-neutral mb-sm-3 mb-md-0"
                       data-toggle="tab"
                       href="#tab_@semester.Id"
                       role="tab"
                       aria-controls="tabs-icons-text-1"
                       aria-selected="true">
                        @semester.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div>



<div class="card shadow">
    <div class="card-body">
        <div class="tab-content" id="myTabContent">
            @foreach (var semester in Model.Semesters)
            {

                <div class="tab-pane fade show"
                     id="tab_@semester.Id"
                     role="tabpanel"
                     aria-labelledby="tabs-icons-text-1-tab">
                    @await Html.PartialAsync("_CreateCourse", new CreateCoursePopupModel(semester, Model.Id))
                    <div id="partial_@semester.Id">
                        @await Html.PartialAsync("_Courses", semester.Courses)
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@*@foreach (var semester in Model.Semesters)
    {
        <a class="nav-link" href="#collapse_@semester.Id" aria-expanded="false"
           data-toggle="collapse">
            <h3>@semester.Name</h3>
            (@semester.StartsOn.ToShortDateString() - @semester.EndsOn.ToShortDateString())
        </a>
        <div id="collapse_@semester.Id" class="row">
            @await Html.PartialAsync("_Courses", semester.Courses)
        </div>
    }*@
<div class="card mt-3">
    <div class="card-header">
        <h2 class="d-inline">Students</h2>
        <form class="d-inline float-right"
              asp-controller="Batch"
              data-ajax="true"
              data-ajax-method="POST"
              data-ajax-update="#student_table"
              data-ajax-loading="#spinner"
              asp-action="CreateStudents"
              enctype="multipart/form-data">
            <div>
                <input type="hidden" asp-for="Id" />
                <label class="btn">
                    Add Students
                    <input type="file" name="file" hidden
                           onchange="javascript: document.getElementById('submit_button').click();">
                </label>
                <button id="submit_button"
                        hidden
                        class="btn btn-info btn-block my-4" type="submit">
                </button>
            </div>
        </form>
    </div>
    <div class="card-body">



        <div class="text-center">
            <div id="spinner" style="display:none" class="spinner-border"></div>
        </div>


        <div id="student_table" style="min-height:50%">
            @await Html.PartialAsync("_Students", Model.ExternalUsers)
        </div>
    </div>
</div>



@section Scripts
{
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js" asp-append-version="true"></script>
}

