@model List<Batch>
@{
    ViewData["Title"] = "Index";
    ViewData["Action"] = "Index";
    ViewData["Controller"] = "Batch";
}
<div class="row card p-2">
    <div class="col-12">
        <h1 class="d-inline">Current Batches</h1>
        <a class="btn btn-info d-inline float-right" asp-action="Create">Create</a>
    </div>
    <table class="table mt-3 table-hover table-striped">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Starts On</th>
                <th scope="col">Number of semesters</th>
                <th scope="col">Semester Duration (months)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr onclick="location.href = '@(Url.Action("Details", "Batch", new { id = item.Id }))'">
                    <td> @item.Name</td>
                    <td>@item.StartsOn.ToString("dd MMMM, yyyy")</td>
                    <td>@item.NumberOfSemester</td>
                    <td>@item.SemesterDuration</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="float-right mt-5">
   <partial name="_Pagination"/>
</div>
