@inject NavigationManager _navigationManager
<MatTable Class="mat-elevation-z5" Items="@Students"
          ShowPaging="false"
          PageSize="100"
          AllowSelection="true">
    <MatTableHeader>
        <th style="width:40%">Name</th>
        <th style="width:15%">Roll</th>
        <th style="width:20%">Email</th>
        <th style="width:15%">Phone</th>
        <th style="width:10%">Role</th>
    </MatTableHeader>
    <MatTableRow Context="Student">
        <td @onclick="(()=>ViewStudent(Student))">@Student.Name</td>
        <td @onclick="(()=>ViewStudent(Student))">@Student.Roll</td>
        <td @onclick="(()=>ViewStudent(Student))">@Student.Email</td>
        <td @onclick="(()=>ViewStudent(Student))">@Student.PhoneNumber</td>
        <td @onclick="(()=>ViewStudent(Student))">@Student.ClassRepresentative</td>
    </MatTableRow>
</MatTable>

@code {
    [Parameter]
    public List<User> Students { get; set; }
    public BaseTableRow BaseTableRow { get; set; }
    private void ViewStudent(User user)
    {
        _navigationManager.NavigateTo("/admin/students/details/" + user.Id);
    }
}
