@model IEnumerable<StudentCourse>

@if (Model == null || Model.Count() == 0)
{
    <h3>No Result Found</h3>
    <partial name="_Message" />
}
else
{
    <table class="table align-items-center table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Roll</th>
                <th scope="col">Credit</th>
                <th scope="col">GPA</th>
                <th scope="col">Grade</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var result in Model.OrderBy(x => x.Student.Roll))
            {
                <tr style="cursor:pointer">
                    <th scope="row"
                         onclick="location.href = '@(Url.Action("Details", "Student", new { id = result.Student.Id }))'">
                        <div class="media align-items-center">
                            <a href="#" class="avatar rounded-circle mr-3">
                                @Html.Identicon(result.Student.UserName, 60)
                            </a>
                            <div class="media-body">
                                <span class="mb-0 text-sm">@result.Student.Name</span>
                            </div>
                        </div>
                    </th>
                    <td  onclick="location.href = '@(Url.Action("Details", "Student", new { id = result.Student.Id }))'"> 
                        @result.Student.UserName
                    </td>
                    <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i> @result.Student.Roll
                        </span>
                    </td>
                    <td>
                        @result.Grade
                    </td>
                    <td>
                        @result.GradePoint
                    </td>
                    <td>
                        <a class="btn bg-transparent"
                           data-ajax="true" 
                           asp-controller="Course"
                           asp-action="DeleteCourseStudent"
                           asp-route-studentCourseId="@result.Id"
                           data-ajax-update="#student_table">
                            <i class="fa fa-minus-circle"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

