@model IEnumerable<Notice>

<div class="table-responsive">
    <table class="table table-hover align-items-center">
        <thead class="thead-light">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Type</th>
                <th scope="col">Date</th>
                <th scope="col">End</th>
                <th scope="col">Batch</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var notice in Model.OrderByDescending(x => x.CreatedOn))
            {
            <tr onclick="location.href = '@(Url.Action("Details", "Notice", new { id = @notice.Id }))'">
                <td>
                    @notice.Title
                </td>
                <td>
                    @notice.PostType
                </td>
                <td>
                    @notice.CreatedOn.ToString("dd MMMM, yyyy");
                </td>
                <td>
                    @notice.EventDate.ToString("dd MMMM, yyyy");
                </td>
                <td>
                    @if (notice.Batch == null)
                    {
                        <h4>All Batch</h4>
                    }
                    else
                    {
                        <h4>@notice.Batch.Name</h4>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    @if (ViewData["FailedMessage"] is string failed && !string.IsNullOrWhiteSpace(failed))
    {
        <div>
            <h2 class="mt-5 text-center text-danger">@failed</h2>
        </div>
    }
</div>

