@model IEnumerable<Notice>


@foreach (var notice in Model.OrderByDescending(x => x.EventDate))
{
    <div class="card-body pt-1 pb-1">
        <a class="btn text-left"
           asp-action="Details"
           asp-controller="Notice"
           asp-route-id="@notice.Id">
            <small class="text-muted font-weight-bold">@notice.EventDate</small>
            <h5 class=" mt-0 mb-0">@notice.Title</h5>
            <p class="mt-1 mb-0 text-wrap">@notice.Message</p>
            <div class="mt-2">
                @if (notice.PostType == PostType.All)
                {
                    <span class="badge badge-success">@notice.PostType</span>
                }
                else
                {
                    <span class="badge badge-info">@notice.PostType</span>
                }
            </div>
        </a>
    </div>
}
@*<div class="table-responsive">
        <table class="table table-hover align-items-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">End</th>
                    <th scope="col">Batch</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var notice in Model.OrderByDescending(x => x.CreatedOn))
                {
                <tr onclick="location.href = '@(Url.Action("Details", "Notice", new { id = @notice.Id }))'">
                    <td>
                        @notice.Title
                    </td>
                    <td>
                        @notice.PostType
                    </td>
                    <td>
                        @notice.CreatedOn.ToString("dd MMMM, yyyy")
                    </td>
                    <td>
                        @notice.EventDate.ToString("dd MMMM, yyyy")
                    </td>
                    <td>
                        @if (notice.Batch == null)
                        {
                            <h4>All Batch</h4>
                        }
                        else
                        {
                            <h4>@notice.Batch.Name</h4>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>

        @if (ViewData["FailedMessage"] is string failed && !string.IsNullOrWhiteSpace(failed))
        {
            <div>
                <h2 class="mt-5 text-center text-danger">@failed</h2>
            </div>
        }
    </div>*@

