@{
    var page = (int)(ViewData["CurrentPage"] ?? 1);
    int totalPage = (int)(ViewData["TotalPage"] ?? 1);
    string action = (string)(ViewData["Action"]);
}


<ul class="pagination">
    @if (totalPage < 10)
    {
        @for (var i = 1; i <= totalPage; i++)
        {
            <li class="page-item @(i == page ? "active" : "")">
                <a asp-action="@action"
                   asp-route-page="@i" class="page-link">@i</a>
            </li>
        }
    }
    else
    {
        <li class="page-item @(1 == page ? "active" : "")">
            <a asp-action="Index" asp-route-page="1" class="page-link">
                1
            </a>
        </li>
        @if (page > 3)
        {
            <li class="page-item">...</li>
        }
        @for (var i = 2; i < totalPage; i++)
        {
            @if (Math.Abs(page - i) < 3)
            {
                <li class="page-item @(i == page ? "active" : "")">
                    <a asp-action="@action"
                       asp-route-page="@i" class="page-link">@i</a>
                </li>
            }
        }
        @if ((totalPage - page) > 3)
        {
            <li>...</li>
        }
        <li class="page-item @(totalPage == page ? "active" : "")">
            <a asp-action="Index"
               asp-route-page="@totalPage"
               class="page-link">
                @totalPage
            </a>
        </li>
    }
</ul>