@model IEnumerable<User>
<div>
    @if (Model == null || Model.Count() == 0)
    {
        <h3>No Students Found</h3>
        <partial name="_Message" />
    }
    else
    {
        <table class="table align-items-center">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Roll</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Role</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var student in Model.OrderBy(x => x.Roll))
                {
                    <tr onclick="location.href = '@(Url.Action("Details", "Student", new { id = student.Id }))'">
                        <th scope="row">
                            <div class="media align-items-center">
                                <a href="#" class="avatar rounded-circle mr-3">
                                    @Html.Identicon(student.UserName, 60)
                                </a>
                                <div class="media-body">
                                    <span class="mb-0 text-sm">@student.Name</span>
                                </div>
                            </div>
                        </th>
                        <td>
                            @student.UserName
                        </td>
                        <td>
                            <span class="badge badge-dot mr-4">
                                <i class="bg-warning"></i> @student.Email
                            </span>
                        </td>
                        <td>
                            @student.PhoneNumber
                        </td>
                        <td>
                            @student.ClassRepresentative
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>