@model DashboardViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Model.Lessons != null && Model.Lessons.Count > 0)
{
    <div class="card p-3">
        <h2>Upcoming Classes</h2>
        <div class="row">
            @foreach (var lesson in Model.Lessons)
            {
            <div class="p-1 col-lg-3 col-md-4 col-sm-6">
                <div class="card p-2 ">
                    <h4 class="text-center">@lesson.Course.Semester.Batch.Name</h4>
                    <div>
                        <span class="float-left small">
                            @lesson.TimeOfDay.ToString()
                        </span>
                        <span class="float-right small">
                            @DateTime.Today.ToString("dd MMMM, yyyy")
                        </span>
                    </div>
                    <p>@lesson.Course.CourseName</p>
                    <p>@lesson.Course.Semester.Name</p>
                    <p>@lesson.Course.CourseId</p>
                    <p>@lesson.TeacherName</p>
                </div>
            </div>
            }
        </div>
    </div>
}

<div class="card mt-3 p-2">
    <h2> Upcoming Notices</h2>
    @await Html.PartialAsync("_Notices", Model.Notices)
</div>

<div class="card mt-3 p-2">
    <h2> Current Batch and Class Represesntatives</h2>
    @await Html.PartialAsync("_ClassRepresentatives", Model.Batches)
</div>
