@model DashboardViewModel
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@if (Model.Lessons != null && Model.Lessons.Count > 0)
{
    <div class="card">
        <div class="card-header">
            <h3 class="mb-0">Upcoming Class</h3>
        </div>
        <div class="table-responsive card-body">
            <table class="table table-hover align-items-center">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Course Name</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Teacher</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var lesson in Model.Lessons)
                    {
                        <tr style="cursor:pointer"
                            onclick="location.href = '@(Url.Action("Details", "Course", new { id = lesson.Id }))'">
                            <td>
                                @lesson.Course.CourseName (@lesson.Course.CourseId)
                            </td>
                            <td>
                                @lesson.Course.Semester.Batch.Name
                            </td>
                            <td>
                                @lesson.TeacherName
                            </td>
                            <td>
                                @lesson.TimeOfDay
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}

<div class="card">
    <div class="card-header bg-transparent">
        <h3 class="m-0">Upcoming Notices</h3>
    </div>
        @await Html.PartialAsync("_Notices", Model.Notices)
</div>
<div class="card mt-3 p-2">
    <h2> Current Batch and Class Represesntatives</h2>
    @await Html.PartialAsync("_ClassRepresentatives", Model.Batches)
</div>
